html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body { margin: 0 }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary { display: block }
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template { display: none }
a { background: transparent }
a:active,
a:hover { outline: 0 }
abbr[title] { border-bottom: 1px dotted }
b,
strong { font-weight: bold }
dfn { font-style: italic }
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small { font-size: 80% }
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
img { border: 0 }
svg:not(:root) { overflow: hidden }
figure { margin: 1em 40px }
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre { overflow: auto }
code,
kbd,
pre,
samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible }
button,
select { text-transform: none }
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] { cursor: default }
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input { line-height: normal }
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto }
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea { overflow: auto }
optgroup { font-weight: bold }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th { padding: 0 }
.profile--twitter { color: #00acee!important }
.profile--twitter:hover { color: #000!important }
.profile--dribbble { color: #ea4c89!important }
.profile--dribbble:hover { color: #000!important }
.profile--linkedin { color: #0e76a8!important }
.profile--linkedin:hover { color: #000!important }
.profile--github { color: #171515!important }
.profile--github:hover { color: #000!important }
.profile--500px { color: #02adea!important }
.profile--500px:hover { color: #000!important }
.profile--flickr { color: #0063dc!important }
.profile--flickr:hover { color: #000!important }
.profile--instagram { color: #634d40!important }
.profile--instagram:hover { color: #000!important }
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
    margin: 0;
    padding: 0;
}
*,
*:after,
*:before { box-sizing: border-box }
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
    margin-bottom: 34px;
    margin-bottom: 1.54545rem;
}
html {
    overflow-y: scroll;
    min-height: 100%;
    font: 1.375rem/1.54545 "freight-sans-pro",Helvetica,Arial,sans-serif;
    color: #525252;
    background-color: #fafafa;
    -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 960px) { 
    html { font-size: 1.2rem }
}
.container {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.81818rem;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 760px) { 
    .container { padding: 0 0.90909rem }
}
.content {
    margin-left: 14.54545rem;
    background-color: #fff;
}
@media screen and (max-width: 760px) { 
    .content { margin-left: 0 }
}
.list-bare {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul,
ol { margin-left: 1.54545rem }
img { max-width: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
    margin-top: 34px;
    margin-bottom: 17px;
    font-family: "adelle",Helvetica,Arial,sans-serif;
    font-weight: 400;
}
h1,
.alpha {
    font-size: 52px;
    font-size: 2.36364rem;
    line-height: 1.30769;
}
@media screen and (max-width: 760px) { 
    h1,
    .alpha {
        font-size: 42px;
        font-size: 1.90909rem;
    }
}
h2,
.beta {
    font-size: 36px;
    font-size: 1.63636rem;
    line-height: 1.2;
}
h3,
.gamma {
    font-size: 28px;
    font-size: 1.27273rem;
    line-height: 1.21429;
}
h4,
.delta {
    font-size: 24px;
    font-size: 1.09091rem;
    line-height: 1.41667;
}
h5,
.epsilon {
    font-size: 22px;
    font-size: 1rem;
    line-height: 1.54545;
}
h6,
.zeta {
    font-size: 18px;
    font-size: 0.81818rem;
    line-height: 1.88889;
}
.giga {
    font-size: 60px;
    font-size: 2.72727rem;
    line-height: 1.13333;
}
.mega {
    font-size: 42px;
    font-size: 1.90909rem;
    line-height: 1.61905;
}
.kilo {
    font-size: 36px;
    font-size: 1.63636rem;
    line-height: 1.88889;
}
.smallprint,
.milli {
    font-size: 14px;
    font-size: 0.63636rem;
    line-height: 2.42857;
}
.micro {
    font-size: 12px;
    font-size: 0.54545rem;
    line-height: 2.83333;
}
.lead {
    font-size: 32px;
    font-size: 1.45455rem;
    line-height: 1.2;
    color: #444;
}
blockquote {
    border-left: 3px solid #2980b9;
    font-style: italic;
    padding-left: 1.54545rem;
}
a,
a:visited {
    text-decoration: none;
    color: #2980b9;
    transition: all .3s ease-in-out;
}
a:not(.nav__link):not(.btn),
a:not(.nav__link):not(.btn):visited { border-bottom: 2px solid rgba(255,255,255,0) }
a:not(.nav__link):not(.btn):active,
a:not(.nav__link):not(.btn):hover,
a:not(.nav__link):not(.btn):focus { border-bottom-color: #2980b9 }
.btn {
    font-size: 20px;
    font-size: 0.90909rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    border: none;
    cursor: pointer;
    overflow: visible;
    border-radius: 3px;
    border: 2px solid #2980b9;
    padding: 17px 34px;
    text-decoration: none;
}
.btn:hover,
.btn:active,
.btn:focus {
    color: #fff;
    background-color: #2980b9;
}
code {
    background-color: #f8f8f8;
    padding: 4px 6px;
    font-size: 0.63636em;
    font-family: "source-code-pro",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #222;
}
pre code {
    padding: 0;
    font-family: "source-code-pro",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    border: none;
    color: #222;
}
pre { line-height: 1 }
.highlight {
    background-color: #f8f8f8;
    -webkit-font-smoothing: subpixel-antialiased;
}
.highlight pre { overflow: auto }
code { white-space: no-wrap }
code,
pre code {
    line-height: 1.2;
    font-family: "source-code-pro",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}
.gist {
    font-size: 0.63636em;
    color: #222;
}
.gist .highlight { margin-bottom: 0 }
.gist .line-pre { font-family: "source-code-pro",Consolas,"Liberation Mono",Menlo,Courier,monospace!important }
.highlight pre,
pre,
.highlight .hll {
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 3px;
}
.highlight .c {
    color: #999988;
    font-style: italic;
}
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}
.highlight .k { font-weight: bold }
.highlight .cm {
    color: #999988;
    font-style: italic;
}
.highlight .cp {
    color: #999999;
    font-weight: bold;
}
.highlight .c1 {
    color: #999988;
    font-style: italic;
}
.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}
.highlight .gd {
    color: #000000;
    background-color: #ffdddd;
}
.highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa;
}
.highlight .ge { font-style: italic }
.highlight .gr { color: #aa0000 }
.highlight .gh { color: #999999 }
.highlight .gi {
    color: #000000;
    background-color: #ddffdd;
}
.highlight .gi .x {
    color: #000000;
    background-color: #aaffaa;
}
.highlight .go { color: #888888 }
.highlight .gp { color: #555555 }
.highlight .gs { font-weight: bold }
.highlight .gu {
    color: #800080;
    font-weight: bold;
}
.highlight .gt { color: #aa0000 }
.highlight .kc { font-weight: bold }
.highlight .kd { font-weight: bold }
.highlight .kn { font-weight: bold }
.highlight .kp { font-weight: bold }
.highlight .kr { font-weight: bold }
.highlight .kt {
    color: #445588;
    font-weight: bold;
}
.highlight .m { color: #009999 }
.highlight .s { color: #dd1144 }
.highlight .n { color: #333333 }
.highlight .na { color: teal }
.highlight .nb { color: #0086b3 }
.highlight .nc {
    color: #445588;
    font-weight: bold;
}
.highlight .no { color: teal }
.highlight .ni { color: purple }
.highlight .ne {
    color: #990000;
    font-weight: bold;
}
.highlight .nf {
    color: #990000;
    font-weight: bold;
}
.highlight .nn { color: #555555 }
.highlight .nt { color: navy }
.highlight .nv { color: teal }
.highlight .ow { font-weight: bold }
.highlight .w { color: #bbbbbb }
.highlight .mf { color: #009999 }
.highlight .mh { color: #009999 }
.highlight .mi { color: #009999 }
.highlight .mo { color: #009999 }
.highlight .sb { color: #dd1144 }
.highlight .sc { color: #dd1144 }
.highlight .sd { color: #dd1144 }
.highlight .s2 { color: #dd1144 }
.highlight .se { color: #dd1144 }
.highlight .sh { color: #dd1144 }
.highlight .si { color: #dd1144 }
.highlight .sx { color: #dd1144 }
.highlight .sr { color: #009926 }
.highlight .s1 { color: #dd1144 }
.highlight .ss { color: #990073 }
.highlight .bp { color: #999999 }
.highlight .vc { color: teal }
.highlight .vg { color: teal }
.highlight .vi { color: teal }
.highlight .il { color: #009999 }
.highlight .gc {
    color: #999;
    background-color: #EAF2F5;
}
#carbonads {
    font-size: 12px;
    font-size: 0.54545rem;
    border-top: 2px solid #fff;
    line-height: 1.2;
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 760px) { 
    #carbonads { display: none }
}
#carbonads a { color: #777 }
#carbonads img { display: block }
.carbon-wrap { background: #eee }
.carbon-img,
.carbon-text,
.carbon-wrap,
.carbon-poweredby {
    display: block;
    float: left;
}
.carbon-text { padding: 10px 10px 0 0 }
.carbon-img { width: 45% }
.carbon-text { width: 55% }
.carbon-poweredby {
    font-size: 10px;
    font-size: 0.45455rem;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.intro--rule {
    border: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.54545rem;
}
.nav ul { margin-bottom: 0 }
@media screen and (max-width: 760px) { 
    .nav li {
        display: inline-block;
        width: 33.333333%;
        font-size: 0.72727rem;
    }
}
.nav__link {
    display: block;
    padding: 0.77273rem 0;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}
.nav__link.nav__active,
.nav__link:hover { background: #328CC7 }
.site-footer {
    font-size: 15px;
    font-size: 0.68182rem;
    line-height: 2.26667;
    position: relative;
    padding: 0.77273rem;
    margin-left: 14.54545rem;
    text-align: center;
    color: #777;
}
@media screen and (max-width: 760px) { 
    .site-footer {
        margin-left: 0;
        width: 100%;
    }
}
.site-footer a { color: #111 }
.sidebar {
    font-size: 16px;
    font-size: 0.72727rem;
    position: fixed;
    top: 0;
    text-align: center;
    width: 14.54545rem;
    background: #5A5B5C;
    height: 100%;
    z-index: 100;
}
@media screen and (max-width: 760px) { 
    .sidebar {
        position: static;
        font-size: 1rem;
        width: 100%;
    }
}
.sidebar a { color: #fff }
.profile {
    font-size: 18px;
    font-size: 0.81818rem;
    padding: 1.54545rem 0.90909rem;
    border-bottom: 1px solid #328CC7;
    color: #fff;
}
@media screen and (max-width: 760px) { 
    .profile { padding: 0.77273rem }
}
.profile__img {
    max-width: 120px;
    border-radius: 50%;
    margin-bottom: 0.77273rem;
}
@media screen and (max-width: 760px) { 
    .profile__img {
        width: 60px;
        margin-bottom: 0;
    }
}
.profile__detail { margin-bottom: 0.77273rem }
.callout {
    display: block;
    float: left;
    width: 100%;
    margin: 0.77273rem 0 3.09091rem;
    background: #273B47;
    color: #ccc;
    padding: 1.54545rem;
    border-radius: 3px;
}
.callout a { color: #fff }
.callout--info {
    background-color: #fff6bf;
    color: #8c7800;
}
.callout--center { text-align: center }
.callout--small {
    font-size: 16px;
    font-size: 0.72727rem;
    padding: 0.77273rem;
    margin: 0 0 1.54545rem;
}
.post-actions {
    margin-left: 0;
    padding: 0;
    list-style: none;
}
.post-actions:after {
    content: "";
    display: table;
    clear: both;
}
.post-actions li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center;
}
.post-actions li:last-child { margin-right: 0 }
.post-actions a {
    display: block;
    padding: 0.63636rem 0;
    width: 100%;
    height: 100%;
}
.post-list {
    list-style: none;
    margin-left: 0;
}
.post-list__item { margin-bottom: 1.54545rem }
.post-list__title { margin-bottom: 0.22727rem }
.post__meta { color: #777 }
.section--pad { margin-bottom: 3.09091rem }
.section-title {
    font-size: 18px;
    font-size: 0.81818rem;
    line-height: 1.88889;
    font-family: "freight-sans-pro",Helvetica,Arial,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.54545rem;
    color: #525252;
}
.pagination--disabled { color: #ccc }
.comments {
    float: left;
    width: 100%;
    margin-bottom: 1.54545rem;
}
.mt { margin-top: 34px!important }
.mr { margin-right: 34px!important }
.mb { margin-bottom: 34px!important }
.ml { margin-left: 34px!important }
.mh {
    margin-top: 34px!important;
    margin-bottom: 34px!important;
}
.mv {
    margin-right: 34px!important;
    margin-left: 34px!important;
}
.m\+ { margin: 68px !important }
.mt\+ { margin-top: 68px !important }
.mr\+ { margin-right: 68px !important }
.mb\+ { margin-bottom: 68px !important }
.ml\+ { margin-left: 68px !important }
.mh\+ {
    margin-top: 68px !important;
    margin-bottom: 68px !important;
}
.mb\+ {
    margin-right: 68px !important;
    margin-left: 68px !important;
}
.m- { margin: 17px!important }
.mt- { margin-top: 17px!important }
.mr- { margin-right: 17px!important }
.mb- { margin-bottom: 17px!important }
.ml- { margin-left: 17px!important }
.mh- {
    margin-top: 17px!important;
    margin-bottom: 17px!important;
}
.mb- {
    margin-right: 17px!important;
    margin-left: 17px!important;
}
.m0 { margin: 0!important }
.mt0 { margin-top: 0!important }
.mr0 { margin-right: 0!important }
.mb0 { margin-bottom: 0!important }
.ml0 { margin-left: 0!important }
.mh0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.mv0 {
    margin-right: 0!important;
    margin-left: 0!important;
}
.pt { padding-top: 34px!important }
.pr { padding-right: 34px!important }
.pb { padding-bottom: 34px!important }
.pl { padding-left: 34px!important }
.ph {
    padding-top: 34px!important;
    padding-bottom: 34px!important;
}
.pv {
    padding-right: 34px!important;
    padding-left: 34px!important;
}
.p\+ { padding: 68px !important }
.pt\+ { padding-top: 68px !important }
.pr\+ { padding-right: 68px !important }
.pb\+ { padding-bottom: 68px !important }
.pl\+ { padding-left: 68px !important }
.ph\+ {
    padding-top: 68px !important;
    padding-bottom: 68px !important;
}
.pv\+ {
    padding-right: 68px !important;
    padding-left: 68px !important;
}
.p- { padding: 17px!important }
.pt- { padding-top: 17px!important }
.pr- { padding-right: 17px!important }
.pb- { padding-bottom: 17px!important }
.pl- { padding-left: 17px!important }
.ph- {
    padding-top: 17px!important;
    padding-bottom: 17px!important;
}
.pv- {
    padding-right: 17px!important;
    padding-left: 17px!important;
}
.p0 { padding: 0!important }
.pt0 { padding-top: 0!important }
.pr0 { padding-right: 0!important }
.pb0 { padding-bottom: 0!important }
.pl0 { padding-left: 0!important }
.ph0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.pv0 {
    padding-right: 0!important;
    padding-left: 0!important;
}
.text--left { text-align: left!important }
.text--center { text-align: center!important }
.text--right { text-align: right!important }
.text--upper { text-transform: uppercase!important }
.text--lower { text-transform: lowercase!important }
.text--capitalize { text-transform: capitalize!important }
.weight--light { font-weight: 300!important }
.weight--normal { font-weight: 400!important }
.weight--semibold { font-weight: 600!important }
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths { width: 50%!important }
.one-third,
.two-sixths,
.three-ninths,
.four-twelfths { width: 33.3333333%!important }
.two-thirds,
.four-sixths,
.six-ninths,
.eight-twelfths { width: 66.6666666%!important }
.one-quarter,
.two-eighths,
.three-twelfths { width: 25%!important }
.three-quarters,
.six-eighths,
.nine-twelfths { width: 75%!important }
.one-fifth,
.two-tenths { width: 20%!important }
.two-fifths,
.four-tenths { width: 40%!important }
.three-fifths,
.six-tenths { width: 60%!important }
.four-fifths,
.eight-tenths { width: 80%!important }
.one-sixth,
.two-twelfths { width: 16.6666666%!important }
.five-sixths,
.ten-twelfths { width: 83.3333333%!important }
.one-eighth { width: 12.5%!important }
.three-eighths { width: 37.5%!important }
.five-eighths { width: 62.5%!important }
.seven-eighths { width: 87.5%!important }
.one-ninth { width: 11.1111111%!important }
.two-ninths { width: 22.2222222%!important }
.four-ninths { width: 44.4444444%!important }
.five-ninths { width: 55.5555555%!important }
.seven-ninths { width: 77.7777777%!important }
.eight-ninths { width: 88.8888888%!important }
.one-tenth { width: 10%!important }
.three-tenths { width: 30%!important }
.seven-tenths { width: 70%!important }
.nine-tenths { width: 90%!important }
.one-twelfth { width: 8.3333333%!important }
.five-twelfths { width: 41.6666666%!important }
.seven-twelfths { width: 58.3333333%!important }
.eleven-twelfths { width: 91.6666666%!important }